/* The main scrollbar **track** CSS class  */
.repo-list .scroll-bar:horizontal .track,
.repo-list .scroll-bar:vertical .track{
  -fx-background-color:transparent;
  -fx-border-color:transparent;
  -fx-background-radius: 0em;
  -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.repo-list .scroll-bar:horizontal .increment-button ,
.repo-list .scroll-bar:horizontal .decrement-button {
  -fx-background-color:transparent;
  -fx-background-radius: 0em;
  -fx-padding:0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */
.repo-list .scroll-bar:vertical .increment-button ,
.repo-list .scroll-bar:vertical .decrement-button {
  -fx-background-color:transparent;
  -fx-background-radius: 0em;
  -fx-padding:0 10 0 0;

}

.repo-list  .scroll-bar .increment-arrow,
.repo-list  .scroll-bar .decrement-arrow{
  -fx-shape:" ";
  -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.repo-list .scroll-bar:horizontal .thumb,
.repo-list .scroll-bar:vertical .thumb {
  -fx-background-color:derive(black,90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2em;
}


.jfx-list-cell-container{
  -fx-alignment: center-left;
}
.jfx-list-cell-container > .label{
  -fx-text-fill: BLACK ;
}


.jfx-list-cell:odd:selected > .jfx-rippler > StackPane , .jfx-list-cell:even:selected > .jfx-rippler > StackPane{
  -fx-background-color: rgba(0,0,255,0.2);
}

.jfx-list-cell {
  -fx-cursor: hand;
  -fx-background-insets: 0.0 ;
  -fx-text-fill: BLACK;
}
.jfx-list-cell:odd, .jfx-list-cell:even {
  -fx-background-color:  WHITE;
}
.jfx-list-cell:filled:hover {
  -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler{
  -fx-rippler-fill:BLUE;
}

.jfx-list-view {
  -fx-cursor: hand;
  -fx-background-insets: 0;
  -fx-cell-horizontal-margin: 0.0;
  -fx-cell-vertical-margin: 5.0;
  -fx-vertical-gap : 10;
  -fx-expanded : false;
  -fx-pref-width:200;
}

.jfx-button {
  -fx-cursor: hand;
}